{% extends 'base.html'%}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addpost</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <body>
    </head>


<form action="" method="POST">
    {%csrf_token%}
    
    {{form.as_p}}
    <br>
    <br>
    <button>submit</button>

    <script>
        var name="{{user.username}}";
        document.getElementById("user").value= name;
    </script>

<script>
    var name="{{user.email}}";
    document.getElementById("email").value= name;
</script>
    
    
</form>
    </body>

create an account to add post <a href="{%url 'register' %}">here</a>
already have an account log in  <a href="{%url 'login'%}">here</a>

{%endblock%}
</html>
