{%load static%}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>cephasblog</title>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/screen.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic' %}"/>
<style>
	
</style>
</head>
<body class="home-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="Fashion Critiques"/></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="{%url 'index' %}">Home</a></li>
		
		{%if user.is_authenticated %}
		<li class="nav-about-us" role="presentation"><a href="{%url 'addpost' %}">Add post</a></li>

		<li class="nav-author-page" role="presentation"><a href="{% url 'author' %}">Profile page</a></li>
		{%else%}
		<li class="nav-article-example" role="presentation"><a href="{%url 'login' %}">login</a></li>{%endif%}
		<span class="socialheader">
		<a href="#"><span class='symbol'>circletwitterbird</span></a>
		<a href="#"><span class='symbol'>circlefacebook</span></a>
		<a href="#"><span class='symbol'>circlegoogleplus</span></a>
		<a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>
	<header class="main-header author-head " >

	</header>
	<section class="author-profile inner">
	<figure class="author-image">
	<div class="img" style="background-image: url(assets/img/gravatar.jpg)">
		<span class="hidden">David's Picture</span>
		<div class="media">
			<img src="{{ user.profile.image.url}}" alt="See photo" border-radius="50%" style="border-radius: 100%;" width="" height="">
		</div>
	</div>
	</figure>
	
	<h1 class="author-title">{{user.username}} {{user.first_name}} {{user.last_name}}</h1>
	<h2 class="author-bio">{{user.profile.bio}}</h2>
	<div class="author-meta">
		<span class="author-location icon-location">{{user.profile.phone_number}}</span>
		<span class="">{{user.email}}</span>
	
		<span class="author-link icon-link"><a href="{%url 'updateuser' %}">update your profile </a></span>
	
		
		
	</div>
	</section>
	<!--
	<main class="content" role="main">
	<div class="grid">
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html"></a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					{{user.post}} <a class="read-more" href="/retro-is-the-new-modern/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="{{user.profile.image}}" alt="David" nopin="nopin"/>
				{{user.last_name}} {{user.first_name}}
				<time class="post-date" datetime="2015-12-17"></time>
				</footer>
			</div>
			</article>
		</div>
		
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j2-520x780-520x600.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Dare to try, dare to explore</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					I noticed near the house a vegetable garden, with the usual variety of vegetables. In another inclosure was the commencement of an extensive vineyard, the fruit <a class="read-more" href="article.html">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				on <a href="#">romance</a>
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Winter Collection</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					Having determined to deviate from our direct course, in order to visit the rancho of Dr. Marsh, we parted from Messrs. McKee and Pickett about noon. <a class="read-more" href="/winter-collection/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j5-520x780-520x600.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Having a first chance</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					We arrived at the rancho of Dr. Marsh about 5 o'clock P.M., greatly fatigued with the day's ride. The residence of Dr. M. <a class="read-more" href="/having-a-first-chance/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				on <a href="#">romance</a>
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance featured">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j3-320x320.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Trending Colors</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					Our horses were frightened last night by bears, and this morning, with the exception of those which were picketed, had strayed so far that we did <a class="read-more" href="/trending-colors/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				on <a href="#">romance</a>
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j8-520x780-520x600.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">What we saw in California</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					We commenced to-day our journey from New Helvetia to San Francisco. Our party consisted, including myself, of Colonel Russell, Dr. McKee of Monterey, Mr. Pickett, a <a class="read-more" href="/what-we-saw-in-california/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/30160348/sep4.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Shadows &amp; Lights</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					Next day Marcolf proves all his statements. Thus, he places a pan of milk in a dark closet, and suddenly calls the king. Solomon steps into <a class="read-more" href="/shadows/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				on <a href="#">romance</a>
				<time class="post-date" datetime="2015-12-17">17 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post featured">
			<a href="article.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j12-520x668-520x600.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">The Book of Delight</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					Joseph Zabara has only in recent times received the consideration justly due to him. Yet his "Book of Delight", finished about the year 1200, is more <a class="read-more" href="/drinking-whenever-you-are-ready-or-even-if-youre-not/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				<time class="post-date" datetime="2015-12-14">14 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Fashion Teenager</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
					You must try to understand that when I finished school I was as raw as raw could be. I had never travelled anywhere on my own, <a class="read-more" href="/reading-fashion-eating-books/">&raquo;</a>
				</p>
				</section>
				<footer class="post-meta">
				<img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
				David
				<time class="post-date" datetime="2015-12-14">14 December 2016</time>
				</footer>
			</div>
			</article>
		</div>
	</div>
	-->
	
	<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	<div class="text-center">
		<a href="index.html">cephas blog</a> &copy; 2022<br/>
		Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
	</div>
	</footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>
</body>
</html>